* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

nav {
    background: #ffffff;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}


label.logo{
    color: #000000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 70px;
    font-weight: 900;
    font-family: "Montserrat ExtraBold";
    cursor: pointer;
}

#barbell{
    margin: 5px;
    color: #a40000;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #000000;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 900;
}

a.active,nav ul a:hover {
    background: #a40000;
    transition: .5s;
    color: white;
    opacity: 80%;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#cta{
    background-color: #a40000;
    font-family: "Montserrat ExtraBold";
}

.hero{
    background: url(img/gym.jpg) no-repeat center;
    background-size: cover;
    transition: .5s;
    height: calc(100vh  -  80px);
}

.article{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    max-height: 1500px;
    width: 100%;
    align-items: center;
    padding: 50px;
}

.article h1{
    font-size: 60px;
    padding: 50px;
}
.article h2{
    padding-bottom: 20px;
}

.article p{
    padding-bottom: 20px;
    max-width: 70%;
}

.article2{
    background: #575757;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    color: white;

}

.redtext{
    color: #A40000FF;
}

.pt{
    max-width: 600px;
    float: left;
    margin-top: 100px;
    margin-right: 250px;
    margin-bottom: 100px;
}

.text2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article2 h1{
    font-size: 30px;
    margin-bottom: 50px;
}

.article2 p{
    padding-bottom: 20px;
    max-width: 70%;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    padding: 100px;
    color: #a40000;
}

.container .info h1{
    font-size: 120px;
    min-width: 300px;
    font-weight: 900;
    font-family: "Montserrat ExtraBold";
    opacity: 95%;
}

.container .info h2{
    font-size: 40px;
    font-weight: 900;
    color: white;
    opacity: 90%;
}

.container .info p{
    margin: 10px;
    font-size: 20px;
    font-weight: 900;
    color: white;
    opacity: 90%;
}

button{
    border: none;
    color: #ffffff;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 250px;
    opacity: 80%;
    transition-duration: 0.4s;
    background-color: #a40000;
    border-radius: 10px;
}

.join-btn:hover, .learn-btn:hover{
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}
.join-btn{
    margin-right: 20px;
}

.img-container, img{
    max-width: 1600px;
    max-height: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    transition-duration: 1s;
    opacity: 100%;

}

.footercontainer{
    height: 270px;
    background-color: #A40000FF;
    display: flex;
    padding-top: 40px;
    padding-left: 200px;
}

.footerinfo{
    max-width: 300px;
    color: white;

}

.footerlogo{
    color: white;
    font-family: "Montserrat ExtraBold";
    font-size: 35px;
}

.footerlogo svg{
    margin-left: 5px;
    color: #000000;
}

.footerinfo h1{
    font-size: 20px;
    color: black;
}

.footerlinks h1{
    font-size: 20px;
}

.footercontact h1{
    font-size: 20px;
}

.footerlinks{
    margin: 0 20px 0 100px;
}

.footerlinks a{
    text-decoration: none;
    color: #ffffff;
}

.footerlinks a:hover{
    color: #000000;
}

.footercontact{
    margin: 0 50px 0 100px;
    color: white;
}

.footercontact h1{
    color: black;
}

.footercontact svg{
    color: #000000;
    padding-top: 5px;
}

.footeremail{
    margin: 0 0 0 100px;
    color: #000000;
    height: 40px;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Montserrat;
}

input[type=submit]{
    background-color: #000000;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
    cursor: pointer;
}

.footerfoot{
    display: flex;
    margin-left: 50px;
    color: #727272;
}

.madeby{
    margin-left: 30px;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

/*
------------------About page---------------------
 */


#abouttext{
    background-color: #ffffff;
    color: #000000;
    padding: 100px;
    text-align: center;
}

#articleabout{
    background: url(img/gymabout.jpg) no-repeat center;
    background-size: cover;
}

#articleabout p{
    margin-bottom: 20px;
    font-size: 17px;
}


#articleabout h2{
    margin-bottom: 20px;
    text-align: center;
    color: #a40000;
}


@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}

}



@media  (max-width: 1561px){
    .img-container, img{
        display: flex;
        flex-direction: column;
        max-width: 900px;
        max-height: 900px;

    }

    .article2 h1{
        margin-left: 50px;
        margin-top: 70px;
    }
    input[type=text], input[type=submit] {
        width: 70%;
    }
    .footeremail h1{
        font-size: 20px;
    }

    #abouttext{
        background-color: #ffffff;
        color: #000000;
        text-align: center;
    }


    #articleabout{
        background: url(img/gymabout.jpg) no-repeat center;
        background-size: cover;
        display: flex;
        flex-direction: column;
    }

    #aboutpic{
        margin: 0;
    }

    #articleabout p{

    }


    #articleabout h2{

    }

}

i {
    color: black;
}

@media  (max-width: 1200px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .hero{
        transition: .5s;
        height: calc(100vh  -  80px);

    }

    .img-container, img{
        display: flex;
        flex-direction: column;
    }

    .pt{
        margin-right: 0;
    }

    .article2 {
        display: flex;
        flex-direction: column;
    }

    .pt{
        display: flex;
        justify-content: center;
    }
    .footeremail{
        display: none;
    }
}

@media (max-width: 880px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 10;
        opacity: 90%;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #a40000;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .hero{
        transition: 0.5s;
        height: calc(100vh  -  80px)
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 90%;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: center;
        padding: 100px;
    }

    .container .info h1{
        font-size: 80px;
        padding-bottom: 15px;
    }

    .container .info h2{
        font-size: 30px;
        padding-bottom: 15px;
    }

    .container .info p{
        margin: 2px;
        font-size: 15px;
        padding-bottom: 15px;
    }

    .buttons{
        font-size: 10px;
        margin-bottom: 20px;
    }
    .learn-btn{
        margin-top: 20px;
    }
    .article{
        padding: 50px;
    }
    .article h1{
        font-size: 40px;
    }
    .article h2{
        font-size: 20px;
    }
    .article p{
        max-width: 100%;
    }

    .img-container, img{
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }

    .article2 {
        display: flex;
        flex-direction: column;

    }

    .pt{
        max-width: 100%;
        margin-top: 20px;
    }

    .footercontainer{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

    }
    .footerinfo{
        width: 600px;
        padding: 50px;

    }
    .footerlinks{
        margin: 0 75px 0 0;
        font-size: 30px;
    }


    .footercontact{
        margin: 0;
        padding: 30px;
        font-size: 15px;
    }
    .footeremail{
        display: contents;
        padding: 30px 20px 50px 20px;
        width: 75%;

    }
    .footeremail h1{
        font-size: 26px;
    }
    input[type=text], input[type=submit] {
        width: 75%;
    }

    .footerfoot{
        font-size: 13px;
    }
}

